<?xml version="1.0"?>
<launch>
  <node pkg="cv_leg_tracking" type="cv_leg_tracking" name="cv_leg_tracking" output="screen" >
    <rosparam command="load" file="$(find cv_leg_tracking)/config/parameters.yaml"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cv_leg_tracking)/config/setup.rviz"/>
</launch>
